.search {
  background-color: #2b3a66;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search p{
  color: #9da5d1
}

.search_container {
  display: flex;
  gap: 0.3rem;
}

.search_container input,
.search_container button {
  padding: .6rem;
  border: none;
  border-radius: 5px;
  color: #2b3566;
}

.search_container button {
  background-color: #644aff;
  cursor: pointer;
}